export BOTBUILDER_APP_ID=
export BOTBUILDER_APP_PASSWORD=
export KB_ID=
export QNA_KEY=
export QNA_URL=
export LUIS_MODEL=
export DIALOG_ANALYZER_CLIENTID=
export DIALOG_ANALYZER_KEY=
export DIALOG_ANALYZER_URL=
export BING_SEARCH_CONFIG=
export BING_SEARCH_KEY=
export TEXT_ANALYTICS_KEY=
export TEXT_ANALYTICS_URL=